<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>플로우(flow) - 대한민국 NO.1 올인원 협업툴</title>

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <!-- css -->
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    
    <!-- 상단바 -->
    <div class='fixed-top home_header'>
        <a href="./home.html">
            <img src='https://flow.team/flow-renewal/view/homepage/assets/images/common/logo.svg' id='home_logo'/>
        </a>
        <div id="home_header_btn">
            <!-- 이후 로그인, 회원가입 연결 -->
            <a href="./login.html" id="home_login">로그인</a>
            <a href="./singup.html">
                <button id="btn_join">회원가입</button>
            </a>
        </div>
    </div>

    <div id="home_intro">
        <p id="sub_title">국내 최초 · 업무 자동화 · 심플한 성과 관리</p>
        <p class="Title">프로젝트 목표 관리는</p>
        <p class="Title">협업툴 1위 플로우</p>
        <a href="./main.html">
            <button id="btn_start">시작하기 &nbsp;&nbsp; &#10095;</button>
        </a>
    </div>

    <!-- 우측 사진 -->
    <span class="pj-web"></span>

</body>
</html>