<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../css/feed.css">
    <title>Document</title>
</head>

<body>
    <script>
        $(document).ready(function () {
            $('#btn').click(function (e) {
                e.preventDefault();
                $('#staticBackdrop').modal("show")
            })
        })
    </script>
    <button id="btn">모달</button>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header detail-popup-header-1">
                    <span class="invite-title ellipsis"><i class="project-color color-code-1"></i>f</span>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body checked-btn">
                    <ul>
                        <li><a href="invitelist.html" style="text-decoration: none;color: black;">
                                <div> <img class="detail-popup-icon-2" src="./imgs/defaultprofile.png"></div>
                                <div class="detail-popuplist-type-1"><span>참여자 초대하기</span><em>프로젝트를 함께했던 사람들을 초대할 수
                                        있습니다</em></div>
                            </a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</body>

</html>