<!-- 새 프로젝트 생성 페이지 -->
<div class="create-project" style="display: none;"></div>

<!-- 사이드바 -->
<div id="leftArea" class="main-header-1">
    <div id="leftTask" class="left-task active">
        <div class="logo-area" style="display: block">
            <a class="logo-box">
                <h1 class="logo-1">
                    <img src="https://flow.team/flow-renewal/assets/images/flow_logo.png?height=20" alt="flow11"
                        srcset="">
                </h1>
            </a>
        </div>
        <a href="#">
            <div id="projectMakeButton" class="new-project-1">
                <div class="button-suport-1"></div>
                새 프로젝트
            </div>
        </a>
        <ul id="leftMenuUl" class="menu-group mgt-20">
            <li data-code="main" class="left-menu-item flow-active">
                <a href="#">
                    <i class="ico-home bi bi-house"></i>내 프로젝트
                    <em id="leftProjectHomeCount" class="project-total-count d-none"
                        style="display: inline-block;">1</em>
                </a>
            </li>
            <li data-code="main" class="left-menu-item">
                <a href="#">
                    <i class="ico-bookmark bi bi-bookmark"></i>북마크
                </a>
            </li>
        </ul>
    </div>
</div>

<script>
    $(function(){
        $('.left-menu-item').hover(function(){
            $(this).addClass('flow-hover');
        });
        $('.left-menu-item').mouseleave(function(){
            $(this).removeClass('flow-hover');
        });
        
        // 추후 내 프로젝트 화면이 hidden||display:none 되면 removeClass
        $('.left-menu-item').click(function(){
            $(this).addClass('flow-active');
        });
        
        // 새 프로젝트 생성 화면 load
        $(".create-project").load("./createProject.html");
        // 새 프로젝트 버튼 클릭 시 display block
        $('.new-project-1').click(function(){
            $('.create-project').css('display', 'block');
        });
    });
</script>