<!-- <div id="mainContent" class="main-content scroll-mask" scroll-direction="0"> -->
    <div id="projectHomeLayer" class="project-home-wrap" style="display: block;">
        <div class="small-style-wrap">
            <div class="section-wrap">
                <div id="BoardArea" class="project-board-wr" style="display: block;">
                    <div class="section-1">
                        <ul id="projectBoardUl" class="project-group clearfix">

                            <!-- 즐겨찾기 -->
                            <div class="section-1">
                                <p class="project-class">즐겨찾기</p>
                            </div>
                            <li class="project-item ui-state-default">
                                <a class="cursor-pointer">
                                    <!-- 알림 배지 -->
                                    <div class="flow-content-ct project-badge" style="display:none">0</div>
                                    <!-- 좌측 color -->
                                    <div class="color-code left-menu-type-1 color-code-1"></div>
                                    <div class="left-menu-type-con">
                                        <!-- 즐겨찾기 -->
                                        <div class="project-star flow-content-star"></div>
                                        <!-- 프로젝트 제목 -->
                                        <div class="flow-content-txt project-ttl">즐겨찾기 프로젝트</div>
                                        <!-- 참가자 -->
                                        <div class="flow-content-b-c" style="display:block">
                                            <div class="flow-content-hm-txt"><i class="bi bi-person"></i></div>
                                            <span class="member-cnt">6</span>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <!-- 참여중 -->
                            <div class="section-2 middle-line">
                                <p class="project-class join">참여중</p>
                            </div>
                            <li class="project-item ui-state-default">
                                <a class="cursor-pointer">
                                    <div class="flow-content-ct project-badge" style="display:inline-block">1</div>
                                    <div class="color-code left-menu-type-1 color-code-1"></div> 
                                    <div class="left-menu-type-con">
                                        <div class="project-star flow-content-star flow-content-star-un"></div>
                                        <div class="flow-content-txt project-ttl">테스트 프로젝트</div>
                                        <div class="flow-content-b-c" style="display:block">
                                            <div class="flow-content-hm-txt"><i class="bi bi-person"></i></div>
                                            <span class="member-cnt">3</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->

<script>
    $(function(){
        // 즐겨찾기 toggle
        $('.flow-content-star').click(function(e){
            // 즐겨찾기 해제 상태일 때
            if($(e.target).hasClass('flow-content-star-un'))
                $(e.target).removeClass('flow-content-star-un');
            else
                $(e.target).addClass('flow-content-star-un');
        });
    });
</script>