<div id="topSettingBar" class="main-header" style="display: block;">
    <div id="mainTop" class="title-1" data-code="main" style="display: block;">
        <div>내 프로젝트</div>
    </div>

    <span id="allCollectionCount" class="js-collection-total-count js-collection-count top-task-num"
        style="display: block;"></span>

    <div id="detailTop" class="project-detail title-1" style="display: none;">
        <div class="project-detail-header">
            <div class="project-color-area">
                <i id="projectColor" class="project-color color-code-3"></i>
            </div>
            <div class="project-header-group">
                <div class="project-title-area">
                    <div class="project-option-area">
                        <button id="projectStar" class="bookmark-button unstar">
                            <span class="blind">즐겨찾기</span>
                        </button>
                        <button id="detailSettingTopButton" class="set-btn">
                            <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <div id="detailSettingLayer" class="project-setup-wrap" style="display: none;">
                            <div class="project-setup-header">
                                <span>프로젝트 번호</span>
                                <em id="detailSettingProjectSrno">1402344</em>
                            </div>
                            <ul id="detailSettingGroup" class="setup-group">
                                <li id="detailSettingProjectExitBtn">
                                    <a href="#"> <i class="bi bi-box-arrow-in-left"></i>프로젝트 나가기</a>
                                </li>
                                <li id="detailSettingProjectUpdateBtn" style="display: block;">
                                    <a href="#"> <i class="bi bi-pencil"></i>프로젝트 수정</a>
                                </li>
                                <li id="detailSettingProjectDeleteBtn" style="display: block;">
                                    <a href="#"> <i class="bi bi-trash"></i>프로젝트 삭제</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <h3 id="projectTitle" class="project-title ellipsis js-mouseover" mouseover-text="플로우 프로젝트">플로우 프로젝트
                    </h3>

                </div>
                <div class="project-description" style="display: block;">
                    <p id="projectContents" class="description-text js-mouseover" mouseover-text="플로우 클론 코딩">플로우 클론 코딩
                    </p>
                    <!--<div class="tooltip-square"></div>-->
                </div>
            </div>
        </div>
        <button id="openInviteLayerBtn" type="button" class="project-invite-button color-code-3"
            style="display: block;">
            <i class="bi bi-person-plus"></i>초대하기
        </button>
    </div>

</div>