<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://flow.team/favicon.ico">
    <title>flow</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <!-- 소켓 -->
    <script src="../../Server/node_modules/socket.io/client-dist/socket.io.js"></script>
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/all-common.css">
    <link rel="stylesheet" href="../css/signUp.css">

    <script defer type="module" src="../js/signUp.js"></script>
    <script defer type="module" src="../js/ajax.js"></script>
</head>

<body>
    <div class='fixed-top home_header'>
        <a href="./home.html">
            <img src='https://flow.team/flow-renewal/view/homepage/assets/images/common/logo.svg' id='home_logo'/>
        </a>
    </div>
    <div class="auth-section">
        <div class="accont-wrap">
            <div class="js-step-section">
                <div id="userStep" class="js-main-step">
                    <div class="flow-account">회원가입</div>
                    <div class="join-input-wrap">
                        <form>
                            <label>
                                <span class="join-label-title">이메일</span>
                                <input type="text" id="joinUserEmail"
                                    class="join-email-input js-join-email js-join-input" autocomplete="off"
                                    placeholder="example@gmail.com" data-required-yn="Y" maxlength="50"
                                    data-valid="email" data-empty-msg="이메일을 입력해주세요." data-over-msg="50자 이내로 작성해주세요."
                                    data-un-valid-msg="이메일의 형식을 확인해주세요." data-exist-mail="이미 존재하는 아이디입니다." data-incorrect-code="일치하지 않는 인증번호 입니다.">
                                <p class="error-text error-email"></p>
                            </label>
                            <label>
                                <span class="join-label-title">이름</span>
                                <input type="text" autocomplete="off" id="joinUserName"
                                    class="join-name-input js-join-input" placeholder="이름" data-required-yn="Y"
                                    maxlength="20" data-valid="name" data-empty-msg="이름을 입력해주세요."
                                    data-un-valid-msg="이름을 확인해 주세요. (특수문자 사용불가)" data-over-msg="20자 이내로 작성해주세요.">
                                <p class="error-text error-name"></p>
                            </label>
                            <label>
                                <span class="join-label-title">비밀번호</span>
                                <div class="join-input-box">
                                    <input id="password" type="password"
                                        class="join-password-input js-join-password js-join-input"
                                        placeholder="비밀번호(8~20자 영문, 숫자, 특수문자 조합)" autocomplete="off"
                                        data-required-yn="Y" minlength="8" maxlength="20" data-valid="password"
                                        data-length-msg="8자리 ~ 20자리 이내로 입력해주세요."
                                        data-empty-msg="비밀번호를 입력해주세요." data-over-msg="8~20자 영문, 숫자, 특수문자로 입력하세요."
                                        data-un-valid-msg="8~20자 영문, 숫자, 특수문자를 입력하세요.">
                                    <span type="button" class="password-view-button js-view-button"
                                        style="display: none"></span>
                                    <p class="error-text error-pw" ></p>
                                </div>
                            </label>
                            <label>
                                <span class="join-label-title">비밀번호 확인</span>
                                <div class="join-input-box">
                                    <input id="password2" type="password"
                                        class="join-password-input js-join-password2 js-join-input"
                                        placeholder="비밀번호 재입력" autocomplete="off" data-required-yn="Y" minlength="8"
                                        maxlength="20" data-valid="password-confirm" data-empty-msg="비밀번호를 입력해주세요"
                                        data-over-msg="20자 이내로 작성해주세요." data-un-valid-msg="비밀번호가 일치하지 않습니다.">
                                    <p class="error-text error-pw2" ></p>
                                    <span type="button" class="password-view-button js-view-button"
                                        style="display: none"></span>
                                </div>
                            </label>

                            <div class="join-check js-join-check">
                                <input id="joinConfirmCheck" type="checkbox" class="js-confirm-input confirm-input"
                                    style="display: none;">
                                <label for="joinConfirmCheck" class="js-confirm-check"></label>
                                <span class="confirm-check-require">(필수)</span>
                                <a href="https://flow.team/kr/terms" target="_blank">서비스 이용약관</a>, <a href="https://flow.team/kr/privacy"
                                    target="_blank">개인정보처리방침</a><span>을 확인하였고, 이에 동의합니다.</span>
                                <p class="error-text js-error-text d-none">서비스 이용약관, 개인정보취금방침 확인 및 동의
                                    부탁드립니다.</p>

                                <span class="addbr"><br id="brremove">
                                <br ></span>
                                <input id="joinUserMarketingAgreementCheck" type="checkbox"
                                    class="js-confirm-input confirm-input" style="display: none;">
                                <label for="joinUserMarketingAgreementCheck" class="js-confirm-check"></label>
                                <span class="confirm-check-require">(선택)</span>
                                <a href="https://flow.team/kr/terms_marketing" target="_blank">플로우 혜택 알림 수신</a>에 동의합니다.

                            </div>
                            <a href="#" id="teamStepButton" class="join-button-2">회원가입</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="back-area temp-popup" tabindex="0" id="tempPopup">
        <div class="flow-project-make-1 back-area">
            <div class="flow-project-make-2 back-area contents">
                <div class="auth-popup js-certification-popup flow-login-popup flow-project-popup-6 d-none"
                    style="display: block;">
                    <div class="flow-project-header-1">
                        <dt class="popup-title">인증번호 입력</dt>

                    </div>
                    <div class="flow-content">
                        <div class="login-number-wrap">
                            <p class="login-number"><span id="authEmail" class="popup-cont">메일로</span></p>
                            <p class="login-number">9자리 인증번호가 전송되었습니다.</p>
                        </div>
                        <div class="login-input-wrap">
                            <input id="authInput" type="text" placeholder="인증번호를 입력하세요" class="login-popup-input"
                                maxlength="9" autocomplete="off">
                        </div>
                        <a class="cursor-pointer">
                            <div class="confirm-button login-popup-button submit-event">확인</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>