/* project-list-main */
.main-header {
    position: relative;
    min-width: 750px;
    height: 80px;
    padding: 0 30px;
    background: #fff;
    z-index: 2;
}
.title-1 {
    font-size: 20px;
    font-weight: 700;
    line-height: 80px;
    float: left;
    color: #333;
}
.top-task-num {
    display: none;
    margin: 1px 0 0 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: #999;
    line-height: 80px;
}
#projectHomeTop {
    position: relative;
    float: right;
}
.home-menu {
    height: 80px;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
    -webkit-box-align: center;
    align-items: center;
}
.home-menu-left, .home-menu-right {
    float: right;
}
.home-menu-left a {
    margin-left: 7px;
}
.home-menu a {
    display: inline-block;
    position: relative;
    z-index: 1;
    color: #555;
    vertical-align: top;
}
.menu-select-icon-type-1.on {
    background-position: -360px -20px;
}
.menu-select-icon-type-1 {
    display: inline-block;
    background: url(https://flow.team/flow-renewal/assets/images/main-sprite-type-2.png) no-repeat -334px -20px;
    background-size: 656px auto;
    width: 24px;
    height: 24px;
}
.menu-select-icon-type-2 {
    background: url(https://flow.team/flow-renewal/assets/images/main-sprite-type-2.png) no-repeat -386px -20px;
    background-size: 656px auto;
    width: 24px;
    height: 24px;
}
.home-menu-right {
    margin-right: 13px;
}

/* detailTop */
.project-detail.title-1 {
    line-height: normal;
}
.project-detail-header {
    display: table;
    margin: 15px 0 0 0;
}
.project-color-area, .project-header-group {
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
}
.color-code-3 {
    background: rgb(100, 73, 252);
    border: solid 1px rgb(100, 73, 252);
}
.project-color {
    display: block;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.project-header-group {
    padding-left: 20px;
    font-size: 0;
    cursor: default;
}
.project-description {
    position: relative;
    margin: 5px 0 0 0;
    font-size: 14px;
    font-weight: 400;
    color: #999;
}
.project-option-area {
    position: relative;
    display: inline-block;
}
.bookmark-button.unstar {
    background-image: url(https://flow.team/flow-renewal/assets/images/icons/icon_star.png);
}
.bookmark-button.unstar:hover {
    background-image: url(https://flow.team/flow-renewal/assets/images/icons/icon_star_hover.png);
}
.bookmark-button {
    position: absolute;
    top: 10px;
    width: 22px;
    height: 22px;
    background-image: url(https://flow.team/flow-renewal/assets/images/icons/icon_star_on.png);
    background-size: 22px;
    cursor: pointer;
}
.set-btn {
    padding: 0;
    margin: 1px 7px 0 30px;
    vertical-align: middle;
    cursor: pointer;
}
.bi.bi-three-dots-vertical{
    font-size: 20px;
}
.project-title {
    margin: 0;
    display: inline-block;
    max-width: 600px;
    font-size: 20px;
    color: #333;
    vertical-align: middle;
    font-weight: bold;
}
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.project-status-group {
    display: inline-block;
    margin: 2px 0 0 8px;
    vertical-align: middle;
}
.project-setup-wrap {
    display: none;
    overflow: hidden;
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 11;
    width: 220px;
    background: #fff;
    border: 1px solid #555;
    box-sizing: border-box;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 400;
}
.project-setup-header {
    overflow: hidden;
    padding: 0 14px;
    background: #555;
    color: #fff;
    font-size: 13px;
    cursor: default;
}
.project-setup-header span {
    line-height: 35px;
    float: left;
}
.project-setup-header em {
    float: right;
    font-family: Roboto;
    font-weight: 700;
    line-height: 35px;
}
.setup-group {
    padding: 4px 0;
}
.setup-group>li {
    position: relative;
}
.setup-group li a {
    display: block;
    height: 19px;
    margin: 5px 0;
    padding: 0 14px;
    line-height: 19px;
    font-size: 13px;
    color: #555;
}
.setup-group i {
    display: inline-block;
    margin: -4px 6px 0 0;
    vertical-align: middle;
}
.icon-set-out {
    width: 14px;
    height: 14px;
    background-position: -376px 0;
}
.project-invite-button {
    border: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    width: 95px;
    height: 32px;
    line-height: 32px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    text-align: center;
}

.bi.bi-person-plus{
    font-size: 14px;
    font-family: icon-contents!important;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    padding-right: 5px;
}

/* topSettingBar detail */
.setup-group li a:hover {
    background: #f8f7ff;
    color: #6449fc;
}